body{
    overflow: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
/* intro css  */
#intro {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #111; /* Dark background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  z-index: 9999;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.fade-in:nth-child(2) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* intro css ended */

.hero{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 16s infinite;
  z-index: -1;
}
@keyframes slideshow {
0% { background:  linear-gradient(to right, #032649c8, #530230c6),url(https://www.webxnep.com/images/background/4.jpg); transition: 1s; }  
33%  { background: linear-gradient(to right,#032649c8, #530230c6),url(https://i.pinimg.com/736x/c7/a5/10/c7a51015f36fcf6e41f3e544491a3153.jpg); transition: 1s; }
66%  {background: linear-gradient(to right,#032649c8, #530230c6), url(https://i.pinimg.com/1200x/27/71/cf/2771cf615d155dc84fb863d39de1b762.jpg); transition: 1s; }
100% {background: linear-gradient(to right,#032649c8, #530230c6), url(https://i.pinimg.com/736x/5b/9d/e4/5b9de4325f0e19b794b21d0ba78ca5b0.jpg); transition: 1s; }
}

.logo{
    width: 250px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    font-size: 16px;
   font-weight: 800;
    padding: 0px 25px;
    z-index: 99999 !important;
}
.nav-link:hover{
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}
.btn-own{
    background-color: #3BBDEF;
    color: white;
    border-radius: 50px;

}

.btn-own:hover{
    background-color: #000;
    color: #3BBDEF;
    text-decoration: underline;
    font-weight: 400;
    transition: 1s;
}
.hero-text{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(225, 225, 248);
    
        
}
@media (min-width: 1200px)
{
.hero-text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    
 }
}
.hero-text h1 span{
    background: -webkit-linear-gradient(#49D68A,#3C8CEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.hero-text p{
    font-style: normal;
    font-weight: 400;
    color: 
    rgb(225, 225, 248);
    font-size: 20px;
    text-align: center;
}
.btn1{
    background: rgba(255, 255, 255, 0.149);
    padding: 14px 30px;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-weight: 400;
    border: none;
}
footer{
    position: fixed;
    bottom: 25px;
    width: 100%;
    color: white;
} 
.social{
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.607);
}


